<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TSL Meeting Room Finder</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Target Room Finder</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Room List</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">More Room Details</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#filter">Room Filters</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>On your way to a meeting and forgotten where the room is?</h1>
                <hr>
                <p>We've all been there. Here is a ready reckoner to make it easier to find the room.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Need to book a room but aren't sure which one is best for you?</h2>
                    <hr class="light">
                    <p class="text-faded">Check out the room details below. Need a water fountain? 10 PC's or full conference facilities? All the information is here in one place. </p>
                    <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Rooms and Locations</h2>
                    <hr class="primary">
                </div>
               <div class="col-lg 12 text-center">
                    <div class="service-box">
                        
                        <h3>Click on a Room For More Details</h3>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>  </h3>
    
                        <body ng-app="myApp">
<div class="panel panel-primary" ng-controller="ResultsCtrl">
    <div class="panel-heading" style="font-size:large">
        Room Finder
    </div>

    <form ng-submit="addFormSubmit()" ng-show="addFormShow">
        <input type="text" ng-model="NewRoomName" placeholder="Name" />
        <input type="text" ng-model="OldRoomName" placeholder="Code" />
        <input type="text" ng-model="Floor" placeholder="Description" />
        <input type="text" ng-model="PC" placeholder="Price" />
<!--        <input type="submit" value="Add Product" class="btn btn-default btn-success" />-->
    </form>

    <form ng-submit="editFormSubmit()" ng-show="editFormShow">
        <input type="text" ng-model="NewRoomName" placeholder="Name" />
        <input type="text" ng-model="OldRoomName" placeholder="Code" />
        <input type="text" ng-model="Floor" placeholder="Description" />
        <input type="text" ng-model="PC" placeholder="Price" />
<!--        <input type="submit" value="Edit Product" class="btn btn-default btn-warning" />-->
    </form>
    
 
    <div class="panel panel-body">
        
         
        <table class="table">
            <thead>
            <tr>
                <td>Room</td>
                <td>Old Name</td>
                <td>Location</td>
      
                <!--<td>No. PCs</td>-->
                <!--<td>Actions</td>-->
            </tr>
            </thead>
            <tbody>
            <tr class="resulttr" ng-repeat="result in results" ng-click="ShowData(result)">
                <td>{{ result.NewRoomName}}</td>
                <td>{{ result.OldRoomName }}</td>
                <td>{{ result.Floor }}</td>
               
<!--                <td>{{ results.PC }}</td>-->
<!--
                <td>
                    <button class="btn btn-primary" ng-click="showProduct(product)" >Edit</button>&nbsp;
                    <button class="btn btn-danger" ng-click="deleteProduct(product)" >Delete</button>
                </td>
-->
            </tr>
            </tbody>
        </table>
</div>

    <h1 ng-show="CurrentResult" class="CurrentResulth1">Room Details</h1>
        <table class="table CurrentResult" ng-show="CurrentResult">
            <tr><th>Room Name :  </th><td>{{CurrentResult.NewRoomName}}</td></tr>
            <tr><th>Floor :  </th><td>{{CurrentResult.Floor}}</td></tr>
            <tr><th>Chairs :  </th><td>{{CurrentResult.Chairs}}</td></tr>
            <tr><th>Conference Phone :  </th><td>{{CurrentResult.ConferencePhone}}</td></tr>
            <tr><th>Phone :  </th><td>{{CurrentResult.Phone}}</td></tr>
            <tr><th>Whiteboard :  </th><td>{{CurrentResult.Whiteboard}}</td></tr>
            <tr><th>Flipchart :  </th><td>{{CurrentResult.Flipchart}}</td></tr>
            <tr><th>Water Fountain :  </th><td>{{CurrentResult.WaterFountain}}</td></tr>
            <tr><th>PC :  </th><td>{{CurrentResult.PC}}</td></tr>
        </table>

</div>
<!--                        <p class="text-muted">Click a Room For More Details</p>-->
                    </div>
                </div>
               
<!--
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
-->
<!--
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
-->
            </div>
                 <div class="col-lg 12 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Need More Details</h3>
                        <p class="text-muted">Check out some extra details on the rooms by clicking the pictures below</p>
                    </div>
                </div>
        </div>
            
            
            
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Rhossili
                                </div>
                                <div class="project-name">
                                   This room has 10 PCs. All the others have one or less
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Broadhaven, Tenby and the Board Room
                                </div>
                                <div class="project-name">
                                    All have flipcharts, projectors and at least 13 seats
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Only Tenby and the BOard Room have water fountains
                                </div>
                                <div class="project-name">
                                    So if you have guests use these or order from the restaurant in advance
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Barafundle, Board Room, Broadhaven, Saundersfoot, Tenby and Whitesands
                                </div>
                                <div class="project-name">
                                    All have a conference phone.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                   Rhossili, Tenby and Whitesands
                                </div>
                                <div class="project-name">
                                   All have 17 seats, phones, whiteboards at least one PC and a projector.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                   The Tenby Room
                                </div>
                                <div class="project-name">
                                    is the only room with two projector screens because.. well you just never know.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                   Rhossili, Tenby Whitesands, the Board Rom, Barafundle and Broadhaven
                                </div>
                                <div class="project-name">
                                    all have at least 10 seats, the Board Room has 13 if you are superstitious
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                   Aberavon, Board Room, Bradhaven, Newgale, Oxwich, Saundersfoot, Tenby and Whitesands
                                </div>
                                <div class="project-name">
                                    are the only non training rooms with PCs
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
         
            </div>
             
        </div>
        
    </section>
<section  id="bottom">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-faded"> </p>
                    <a href="#" class="btn btn-default btn-xl">Back To Top</a>
                </div>
    </div>       
    </section>
<!--
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
            </div>
        </div>
    </aside>
-->
    <section id="Specific">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Looking for Something Specific?</h2>
                    <hr class="primary">
                </div>
               <div class="col-lg 12 text-center">
                    <div class="service-box">
                        
                        <h3>Click on a filter to see the rooms that fit your requirements</h3>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>  </h3>
<section id="filter">
                        <body ng-app="myApp">
<div class="panel panel-primary" ng-controller="Filter1Ctrl">
    <div class="panel-heading" style="font-size:large" ng-click="showProjRooms = !showProjRooms">
        Rooms With Projectors
    </div>
 
    <div class="panel panel-body" ng-show="showProjRooms" >
        
         
        <table class="table" >
            <thead>
            <tr>
                <td>Room</td>
                <td>Location</td>
                
      
                <!--<td>No. PCs</td>-->
                <!--<td>Actions</td>-->
            </tr>
            </thead>
            <tbody>
            <tr class="resulttr" ng-repeat="resultsF1 in resultsF1"  ng-show="resultsF1"<!--ng-click="ResultsF1(resultsF1)-->">
                <td>{{ resultsF1.NewRoomName}}</td>
                <td>{{ resultsF1.Floor }}</td>
               
<!--                <td>{{ results.PC }}</td>-->
<!--
                <td>
                    <button class="btn btn-primary" ng-click="showProduct(product)" >Edit</button>&nbsp;
                    <button class="btn btn-danger" ng-click="deleteProduct(product)" >Delete</button>
                </td>
-->
            </tr>
            </tbody>
        </table>
</div>

</div>
                    
<body ng-app="myApp">
<div class="panel panel-primary" ng-controller="Filter2Ctrl">
    <div class="panel-heading" style="font-size:large" ng-click="showBigRooms = !showBigRooms">
        Rooms With At Least 8 Seats
    </div>
 
    <div class="panel panel-body" ng-show="showBigRooms" >
        
         
        <table class="table" >
            <thead>
            <tr>
                <td>Room</td>
                <td>No. of Seats</td>
                <td>Location</td>
                
      
                <!--<td>No. PCs</td>-->
                <!--<td>Actions</td>-->
            </tr>
            </thead>
            <tbody>
            <tr class="resulttr" ng-repeat="resultsF2 in resultsF2"  ng-show="resultsF2">
                <td>{{ resultsF2.NewRoomName}}</td>
                <td>{{ resultsF2.Chairs}}</td>
                <td>{{ resultsF2.Floor }}</td>
               
<!--                <td>{{ results.PC }}</td>-->
<!--
                <td>
                    <button class="btn btn-primary" ng-click="showProduct(product)" >Edit</button>&nbsp;
                    <button class="btn btn-danger" ng-click="deleteProduct(product)" >Delete</button>
                </td>
-->
            </tr>
            </tbody>
        </table>
</div>

</div>
                    </body>
                    

<body ng-app="myApp">
<div class="panel panel-primary" ng-controller="Filter3Ctrl">
    <div class="panel-heading" style="font-size:large" ng-click="showWhiteRooms = !showWhiteRooms">
        Rooms With A Whiteboard
    </div>
 
    <div class="panel panel-body" ng-show="showWhiteRooms" >
        
         
        <table class="table" >
            <thead>
            <tr>
                <td>Room</td>
                <td>Location</td>
                
      
                <!--<td>No. PCs</td>-->
                <!--<td>Actions</td>-->
            </tr>
            </thead>
            <tbody>
            <tr class="resulttr" ng-repeat="resultsF3 in resultsF3"  ng-show="resultsF3">
                <td>{{ resultsF3.NewRoomName}}</td>
                <td>{{ resultsF3.Floor }}</td>
               
<!--                <td>{{ results.PC }}</td>-->
<!--
                <td>
                    <button class="btn btn-primary" ng-click="showProduct(product)" >Edit</button>&nbsp;
                    <button class="btn btn-danger" ng-click="deleteProduct(product)" >Delete</button>
                </td>
-->
            </tr>
            </tbody>
        </table>
</div>

</div>
                    </body>
                    
<body ng-app="myApp">
<div class="panel panel-primary" ng-controller="Filter4Ctrl">
    <div class="panel-heading" style="font-size:large" ng-click="showFlipRooms = !showFlipRooms">
        Rooms With A Flip Chart
    </div>
 
    <div class="panel panel-body" ng-show="showFlipRooms" >
        
         
        <table class="table" >
            <thead>
            <tr>
                <td>Room</td>
                <td>Location</td>
                
      
                <!--<td>No. PCs</td>-->
                <!--<td>Actions</td>-->
            </tr>
            </thead>
            <tbody>
            <tr class="resulttr" ng-repeat="resultsF4 in resultsF4"  ng-show="resultsF4">
                <td>{{ resultsF4.NewRoomName}}</td>
                <td>{{ resultsF4.Floor }}</td>
               
<!--                <td>{{ results.PC }}</td>-->
<!--
                <td>
                    <button class="btn btn-primary" ng-click="showProduct(product)" >Edit</button>&nbsp;
                    <button class="btn btn-danger" ng-click="deleteProduct(product)" >Delete</button>
                </td>
-->
            </tr>
            </tbody>
        </table>
</div>

</div>
                    </body>
                    
<body ng-app="myApp">
<div class="panel panel-primary" ng-controller="Filter6Ctrl">
    <div class="panel-heading" style="font-size:large" ng-click="showPCRooms = !showPCRooms">
        Rooms With A PC
    </div>
 
    <div class="panel panel-body" ng-show="showPCRooms" >
        
         
        <table class="table" >
            <thead>
            <tr>
                <td>Room</td>
                <td>No. of PCs</td>
                <td>Location</td>
                
      
                <!--<td>No. PCs</td>-->
                <!--<td>Actions</td>-->
            </tr>
            </thead>
            <tbody>
            <tr class="resulttr" ng-repeat="resultsF6 in resultsF6"  ng-show="resultsF6">
                <td>{{ resultsF6.NewRoomName}}</td>
                <td>{{ resultsF6.PC}}</td>
                <td>{{ resultsF6.Floor }}</td>
               
<!--                <td>{{ results.PC }}</td>-->
<!--
                <td>
                    <button class="btn btn-primary" ng-click="showProduct(product)" >Edit</button>&nbsp;
                    <button class="btn btn-danger" ng-click="deleteProduct(product)" >Delete</button>
                </td>
-->
            </tr>
            </tbody>
        </table>
</div>

</div>
                    </body>
                        
<body ng-app="myApp">
<div class="panel panel-primary" ng-controller="Filter5Ctrl">
    <div class="panel-heading" style="font-size:large" ng-click="showConfRooms = !showConfRooms">
        Rooms With A Conference Phone
    </div>
 
    <div class="panel panel-body" ng-show="showConfRooms" >
        
         
        <table class="table" >
            <thead>
            <tr>
                <td>Room</td>
                <td>Location</td>
                
      
                <!--<td>No. PCs</td>-->
                <!--<td>Actions</td>-->
            </tr>
            </thead>
            <tbody>
            <tr class="resulttr" ng-repeat="resultsF5 in resultsF5"  ng-show="resultsF5">
                <td>{{ resultsF5.NewRoomName}}</td>
                <td>{{ resultsF5.Floor }}</td>
               
<!--                <td>{{ results.PC }}</td>-->
<!--
                <td>
                    <button class="btn btn-primary" ng-click="showProduct(product)" >Edit</button>&nbsp;
                    <button class="btn btn-danger" ng-click="deleteProduct(product)" >Delete</button>
                </td>
-->
            </tr>
            </tbody>
        </table>
</div>

</div>
                    </body>
</section>
<!--                        <p class="text-muted">Click a Room For More Details</p>-->
                    </div>
                </div>
               
<!--
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
-->
<!--
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
-->
            </div>
                 <div class="col-lg 12 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Still Not Enough?</h3>
                        <h3>You Drive A Hard Bargain!!</h3>
                        <h3>Request a Filter</h3>
                        <p class="text-muted">Contact me on the details below</p>
                    </div>
                </div>
        </div>    
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Like this info? Is it wrong, out of date or do you just hate it even? Let me know!</h2>
                    <hr class="primary">
                    <p>Feel free to submit a feature request but bare in mind I only just learned to do this and its a pet project! There are no SLAs ;-)</p>
                </div>
                <div class="col-lg-3 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>extension 7921</p>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:craig.rowland@targetgroup.com">craig.rowland@targetgroup.com</a></p>
                </div>
                <div class="col-lg-3 text-center">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://goo.gl/1b7dSB" data-via="theragingelf" data-dnt="true">Tweet</a>

                </div>
                
                <section  id="bottomplus1">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-faded"> </p>
                    <a href="#" class="btn btn-default btn-xl">Back To Top</a>
                </div>
    </div>       
    </section>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
                </div> 


            </div>
        <div class="col text-center">
                    <p>v1.4 Feb 2016</p>
                </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script>
        jQuery.fn.extend(
{
    scrollTo: function (speed, easing) {
        return this.each(function () {
            var targetOffset = $(this).offset().top - 50;
            $('html,body').animate({ scrollTop: targetOffset }, speed, easing);
        });
    }
});
    </script>

    <script src="src/angular.js"></script>
    <script src="src/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40036528-16', 'auto');
  ga('send', 'pageview');

</script>
    <style>
        .resulttr{
            cursor:pointer;
        }       
    </style>
</body>

</html>
                           